@model IEnumerable<BTLN1.Models.CongNhan>

@{
    ViewData["Title"] = "Index";
}

<h1>DANH SÁCH CÔNG NHÂN</h1>

<p>
    <a asp-action="Create">Thêm mới công nhân</a>
    <br>
    <a asp-action="Upload">Nhập từ Excels</a>
</p>
<form asp-controller="CongNhan" asp-action="Index">
    <p>
        Tìm kiếm: <input type="text" name="SearchString" />
        <input type="submit" value="Lọc" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaCongNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhongBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViTri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Luong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaCongNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhongBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViTri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Luong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaCongNhan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaCongNhan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaCongNhan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
