@model IEnumerable<BTLN1.Models.SaleViTri>

@{
    ViewData["Title"] = "Index";
}

<h1>DANH SÁCH VỊ TRÍ PHÒNG KINHG DOANH</h1>

<p>
    <a asp-action="Create">Tạo vị trí mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VitriSale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VitriSale)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ViTriSaleID">Cập nhật</a> |
                <a asp-action="Details" asp-route-id="@item.ViTriSaleID">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.ViTriSaleID">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
