@model BTLN1.Models.Sale

@{
    ViewData["Title"] = "Details";
}

<h1>Chi Tiết</h1>

<div>
    <h4>Phòng kinh doanh</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalePhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalePhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleSex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleSex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleBank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleBank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleCCCD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleCCCD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleViTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleViTri.ViTriSaleID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Luong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Luong.LuongID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HopDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HopDong.HopDongID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleEnd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SaleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
