@model BTLN1.Models.Ceo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ceo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CeoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CeoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CeoPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CeoPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CeoAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CeoAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CeoBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CeoBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CeoSex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CeoSex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CeoBank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CeoBank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CeoCCCD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CeoCCCD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CeoViTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CeoViTri.ViTriCeoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Luong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Luong.LuongID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HopDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HopDong.HopDongID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CeoStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CeoStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CeoEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CeoEnd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CeoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
