@model BTLN1.Models.Staff

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa dữ liệu</h1>

<h3>Bạn có muốn xóa dữ liệu này không?</h3>
<div>
    <h4>Phòng Hành Chính</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffSex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffSex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffBank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffBank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffCCCD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffCCCD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffViTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffViTri.ViTriStaffID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Luong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Luong.LuongID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HopDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HopDong.HopDongID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffEnd)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StaffID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách phòng hành chính</a>
    </form>
</div>
