@model IEnumerable<BTLN1.Models.Staff>

@{
    ViewData["Title"] = "Index";
}

<h1>DANH SÁCH PHÒNG HÀNH CHÍNH</h1>

<p>
    <a asp-action="Create">Thêm mới nhân viên</a>
</p>
<form asp-controller="Staff" asp-action="Index">
    <p>
        Tìm kiếm: <input type="text" name="SearchString" />
        <input type="submit" value="Lọc" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffName)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.StaffPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffBirth)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.StaffSex)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.StaffBank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffCCCD)
            </th>  *@
            <th>
                @Html.DisplayNameFor(model => model.StaffViTri)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Luong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HopDong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffEnd)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffName)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.StaffPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffBirth)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.StaffSex)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.StaffBank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffCCCD)
            </td>  *@
            <td>
                @Html.DisplayFor(modelItem => item.StaffViTri.VitriStaff)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Luong.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HopDong.TimeHopDong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffEnd)
            </td> *@
            <td>
                <a asp-action="Details" asp-route-id="@item.StaffID">Thông tin</a> |
                <a asp-action="Edit" asp-route-id="@item.StaffID">Cập nhật</a> |
                <a asp-action="Delete" asp-route-id="@item.StaffID">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
