@model IEnumerable<BTLN1.Models.AccountViTri>

@{
    ViewData["Title"] = "Index";
}

<h1>DANH SÁCH VỊ TRÍ PHÒNG KẾ TOÁN</h1>

<p>
    <a asp-action="Create">Thêm bản ghi mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VitriAccount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VitriAccount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ViTriAccountID">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.ViTriAccountID">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.ViTriAccountID">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
